.tooltip-container {
	float: left;
	margin: 5px;
}
.tooltip-container button {
	min-height: 30px;
	min-width: 100px !important;
}
.tooltip-content {
	background-color: black;
	color: #FFF;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	height: 25px;
	margin-bottom: 50px;
	position: absolute;
	font-size: 10px;
	overflow: hidden;
}
.top {
	top: -55%;
}
.bottom {
	top: 100%;
}